
.navigation {
    display: inline-block;
}

.navigation>ul>li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
    color: #efefef;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #776AA9;
    font-size: 1.1em;
}

