body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --c-dark-purple: #210965;
  --c-med-purple: #39276A;
  --c-light-purple: #574A79;
  --c-med-gray: #79728D;
  --c-light-gray: #A4A2AA;
  --c-white: #efefef; 


}
